{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-success bg-gradient ">

    <div class="container px-5">
        <a class="navbar-brand" href="{% url 'landing page' %}">
            <img src="{% static 'images/logo/logo.png' %}" alt="Grocery Store" width="320" height="110">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{% url 'landing page' %}">Home</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Categories</a>

                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                        {% if categories %}
                            {% for category in categories %}
                                <li class="nav-item dropdown"><a class="dropdown-item"
                                                                 href="{% url 'list category products' category.id %}">{{ category.type }}</a>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li><a class="dropdown-item" href="#">No categories</a></li>
                        {% endif %}
                    </ul>

                </li>

                <li class="nav-item"><a class="nav-link" href="{% url 'list products' %}">All Products</a></li>

                <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'order details' %}"><i
                        class="fas fa-shopping-cart"></i> Basket</a></li>


                {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">My Account</a>

                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                            <li class="dropdown-item">Hello, {{ request.user.profile.surname }}</li>
                            {% if request.user.is_staff %}
                                <li><a class="dropdown-item " href="#">Add Category</a></li>
                                <li><a class="dropdown-item " href="{% url 'add product' %}">Add Product</a></li>
                            {% else %}
                                <li><a class="dropdown-item " href="{% url 'order details' %}">Shopping List</a></li>
                                <li><a class="dropdown-item " href="{% url 'contact' %}">Contact us</a></li>
                            {% endif %}
                            <li><a class="dropdown-item " href="{% url 'profile details' %}">Profile Details</a></li>
                            <li><a class="dropdown-item " href="{% url 'sign out' %}">Logout</a></li>

                        </ul>
                    </li>

                {% else %}
                    <li class="nav-item"><a class="nav-link btn btn-warning text-dark me-2" href="{% url 'sign in' %}">Login</a>
                    </li>
                    <li class="nav-item"><a class="nav-link btn btn-light text-dark"
                                            href="{% url 'sign up' %}">Register</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>