{% extends 'grocery/shared/base.html' %}

{% block site-content %}
    <div class="container w-75 m-auto">
        <div class="col-lg-4 mx-auto mt-5 mb-5">
            <div class="card h-100 shadow border-0">

                <div class="text-center h2 fw-bolder mt-2">{{ product.name }}</div>
                <img class="card-img-top" src="{{ product.image.url }}" alt="..."/>
                <div class="card-body p-4">
                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Category: {{ product.category }}</div>

                    <p class="card-text mb-0">{{ product.description }}</p>
                    <p class="font-weight-bold mb-0">{{ product.price }}$</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                    <div class="d-flex align-items-end justify-content-between">
                        <div class="d-flex align-items-center">

                            <div class="small">

                                {% if can_edit %}
                                    <a class="btn btn-warning" href="{% url 'edit product' product.id %}">Edit</a>
                                {% endif %}
                                {% if can_delete %}
                                    <a class="btn btn-danger" href="{% url 'delete product' product.id %}">Delete</a>
                                {% endif %}
                                <a class="btn btn-success" href="{% url 'add to cart' product.id %}">Add to basket</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    <section class="py-1">#}
    {#        <div class="container w-50 m-auto px-5 my-2">#}
    {#            <div class="text-center m-0">#}
    {#                <h1 class="fw-bolder">{{ product.name }}</h1>#}
    {#            </div>#}
    {#            <div class="position-relative mb-1">#}
    {#                <img class="img-fluid rounded-1 mb-1"#}
    {#                     src="{{ product.image.url }}"#}
    {#                     alt="product image"/>#}
    {#                <article>#}
    {#                    <h4>Description:</h4>#}
    {#                    <p class="lead fw-normal text-muted mb-0">{{ product.description }}</p>#}
    {#                </article>#}
    {#                <div class="container">#}
    {#                    <span class="fw-bolder">Price</span>#}
    {#                    <span class="lead fw-normal text-muted mb-0">{{ product.price }}$</span>#}
    {#                </div>#}
    {#                {% if can_edit %}#}
    {#                    <a class="btn btn-warning" href="{% url 'edit product' product.id %}">Edit</a>#}
    {#                {% endif %}#}
    {#                {% if can_delete %}#}
    {#                    <a class="btn btn-danger" href="{% url 'delete product' product.id %}">Delete</a>#}
    {#                {% endif %}#}
    {##}
    {##}
    {#            </div>#}
    {##}
    {#        </div>#}
    {##}
    {#    </section>#}
{% endblock %}