{% extends 'grocery/shared/base.html' %}


{% block site-content %}
    <div class="container">
        <h1 class="text-center">Register</h1>
        <div class="row d-flex justify-content-center">
            <form method="post" class="form-control mb-3" action="{% url 'sign up' %}">
                {% csrf_token %}
                {{ form }}
                {{ profile_form }}

                <button type="submit" class="btn btn-primary mt-2">Register</button>

            </form>

        </div>
    </div>
{% endblock %}