{% extends 'grocery/shared/base.html' %}

{% block site-content %}
    {% include 'grocery/partials/header.html' %}
    <!-- Blog preview section-->
    <section class="py-1">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="text-center">
                        <h1 class="fw-bolder">Latest Offers</h1>
                        <p class="lead fw-normal text-muted mb-5"></p>
                    </div>
                </div>
            </div>
            {% if discounted_products %}
                <div class="row gx-5">
                {% for dp in discounted_products %}
                        <div class="col-md-2 mb-5">
                            <div class="card h-100 shadow border-0">
                                <div class="badge bg-danger bg-gradient rounded-pill mb-2">OFFER</div>
                                <img class="card-img-top" src="{{ dp.product.image.url }}" alt="..."/>
                                <div class="card-body p-4">

                                    <a class="text-decoration-none link-dark stretched-link" href="{% url 'product details' dp.product.id %}"><h5
                                            class="card-title mb-3">{{ dp.product.name }}</h5></a>
{#                                    <p class="card-text mb-0">{{ dp.product.category }}</p>#}
                                    <p>Old Price: <span class="text-decoration-line-through">{{ dp.product.price }}$</span></p>
                                    <p class="fw-bolder mb-0">New Price: <span class="text-danger text-center">{{ dp.price }}$</span></p>

                                </div>

                            </div>
                        </div>
                {% endfor %}
                </div>
            {% else %}
                <p>No Products</p>
            {% endif %}

        </div>
    </section>
    <section class="py-1">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="text-center">
                        <h1 class="fw-bolder">New Products</h1>
                        <p class="lead fw-normal text-muted mb-5">You can find our latest additions.</p>
                    </div>
                </div>
            </div>
            {% if products %}
                <div class="row gx-5">
                {% for product in products %}
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="{{ product.image.url }}" alt="..."/>
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Category: {{ product.category }}</div>
                                    <a class="textext-decoration-none link-dark stretched-link" href="{% url 'product details' product.id %}">
                                        <h5 class="card-title mb-3">{{ product.name }}</h5></a>
                                    <a class="text-decoration-none link-dark stretched-link" href="{% url 'product details' product.id %}">
                                        <h5 class="card-title mb-3">Details</h5></a>
                                </div>

                            </div>
                        </div>
                {% endfor %}
                </div>
            {% else %}
            {% endif %}
            <!-- Call to action-->
            <aside class="bg-success bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                    <div class="mb-4 mb-xl-0">
                        <div class="fs-3 fw-bold text-white">New products, delivered to you.</div>
                        <div class="text-white-50">Sign up for our newsletter for the latest updates.</div>
                    </div>
                    <div class="ms-xl-4">
                        <div class="input-group mb-2">
                            <input class="form-control" type="text" placeholder="Email address..."
                                   aria-label="Email address..." aria-describedby="button-newsletter"/>
                            <button class="btn btn-outline-light" id="button-newsletter" type="button">Sign up
                            </button>
                        </div>
                        <div class="small text-white-50">We care about privacy, and will never share your
                            data.
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </section>

{% endblock %}