{% extends 'grocery/shared/base.html' %}


{% block site-content %}
    <div class="container w-75 m-auto mt-5 mb-5">
        <h1 class="text-center">Edit Your Profile</h1>
        <div class="row d-flex justify-content-center">
            <form method="post" class="form-control w-50 m-auto" action="{% url 'edit profile' %}">
                {% csrf_token %}
                {{ user_form }}
                {{ user_form.errors }}
                {{ profile_form }}
                {{ profile_form.errors }}
                {{ profile_address_form }}
                {{ profile_address_form.errors }}

                <button type="submit" class="btn btn-primary mt-2">Save</button>
                <a class="btn btn-warning mt-2" href="{% url 'change password' %}">Change Password</a>

            </form>

        </div>
    </div>
{% endblock %}